@using CMB_CashPortal.Models
@model LoginViewModel
@{
    ViewBag.Title = "Home Page";
    Layout = "/Views/Shared/_StartupLayout.cshtml";
}

    <div class="content">
        <div class="container">
            <div class="col-lg-4 col-md-6 ml-auto mr-auto">
                @using (Html.BeginForm("Login", "Account", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <div class="card card-login">
                        <div class="card-header ">
                            <div class="card-header ">
                                <h3 class="header text-center">Login</h3>
                            </div>
                        </div>
                        <div class="card-body ">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="nc-icon nc-single-02"></i>
                                    </span>
                                </div>
                                <input type="email" class="form-control" name="Email" placeholder="Email...">
                            </div>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="nc-icon nc-key-25"></i>
                                    </span>
                                </div>
                                <input type="password" class="form-control" name="Password" placeholder="Password...">
                            </div>
                            <br>
                            <div class="form-group">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value="" checked="">
                                        <span class="form-check-sign"></span>
                                        Remember Me
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-warning btn-round btn-block mb-3">Sign In</button>
                        </div>
                        <div class="social text-center">
                            <p class="card-description"> or log in with... </p>
                            <button class="btn btn-icon btn-round btn-twitter">
                                <i class="fa fa-twitter"></i>
                            </button>
                            <button class="btn btn-icon btn-round btn-dribbble">
                                <i class="fa fa-dribbble"></i>
                            </button>
                            <button class="btn btn-icon btn-round btn-facebook">
                                <i class="fa fa-facebook-f"></i>
                            </button>

                        </div>
                        <div class="text-center">
                            <a href="@Url.Action("ForgotPassword","Account")" class="auth-link text-muted">   Forgot password?</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>