
@{
    ViewBag.Title = "Lobby";
    Layout = "/Views/Shared/_StartupLayout.cshtml";
}

<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center text-white h2">
                Welcome to the Lobby!
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center text-white">
                <p>Please select an option below to continue.</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 ml-auto mr-auto">
            <div class="card card-login">
                <div class="card-header ">
                    <div class="card-header ">
                        <h3 class="header text-center">Create a New Household</h3>
                    </div>
                    <button type="submit" class="btn btn-success btn-round btn-block mb-3">Begin Creation</button>
                </div>
            </div>
            <div class="card card-login">
                <div class="card-header ">
                    <div class="card-header ">
                        <h3 class="header text-center">Request to Join an Existing Household</h3>
                    </div>
                    <button type="submit" class="btn btn-success btn-round btn-block mb-3">Request Form</button>
                </div>
            </div>
        </div>
    </div>
</div>

    
